
{% extends "coffee_site/base.html" %}
{% block style %}
  <link rel="stylesheet" href="/static/404.css">
{% endblock %}
{% block content %}
    <div class="big_picture">
      <figure class="bp_darker">
        <div class="bp_text">
          <p>В случае отказа или сбое работы системы, а также для получения  консультаций и технической поддержки необходимо обратиться по электронной почте:</p>
          <a class="mail" href="mailto:vechkanova.p@gmail.com?subject=Вопрос по сайту 'Кофейня'">vechkanova.p@gmail.com.</a>
        </div>
      </figure>
    </div>
{% endblock  %}
