{% extends "base.html" %}
{% block content %}
<div class="big_picture">
    <div class="white_rect">
        <div class="wr_text_container">
            <p class="wr_h">Условия доставки</p>
            <p class="wr_text">Мы доставляем заказы ежедневно с 9-30 до 20-30. Также<br> можно оформить предварительный заказ с доставкой в<br> указанный день и время или забрать самостоятельно в<br> кофейне «Кофейня».
                <br><br>Связаться с нами можно по телефону:
                <br>8-(846)-12-56-89 или по электронной почте
                <br>coffe_house@mail.ru.</p>
        </div>
        <div class="wr_pics">
            <img src="../static/images/del1.png" alt="" class="wr_pic_1">
            <img src="../static/images/del2.png" alt="" class="wr_pic_2">
        </div>
    </div>
</div>
<div class="temp"></div>
{% endblock  %}

