{% extends "coffee_site/base.html" %}
{% block style %}
    <link rel="stylesheet" href="../static/partners.css">
{% endblock  %}
{% block content %}
            <div class="big_picture">
                <div class="white_rect">
                    <p class="wr_h">Для партнёров</p>
                    <hr style="border: 1px solid #000000; background-color: #000000; width: 90%; margin-top: 3px;">
                    <div class="wr_text">
                        <p>Откройте свою кофейню уже сегодня!<br><br> Зарабатывайте от 150 тысяч рублей в месяц на самом популярном напитке.<br> Начните действовать прямо сейчас!<br><br> Свяжитесь с нами для более подробной информации coffe_house@mail.ru.</p>
                    </div>
                </div>
            </div>
            <div class="temp"></div>
            <div class="brown_rect">
                <p class="br_h">Почему именно мы?</p>
                <ol class="br_text">
                    <li>Мы разработаем стильный и функциональный интерьер с учетом особенностей помещения, в котором будет удобно работать персоналу и приятно находиться гостям.</li>
                    <li>Крутые акции, социально значимые и небанальные проекты - все это регулярно привлекает новых гостей, увеличивает средний чек и повышает узнаваемость бренда.</li>
                    <li>Благодаря отлаженной системе логистики, вся продукция и все необходимое для работы пекарни все будет поступать в срок.</li>
                    <li>Вся продукция уникальна, так как это полностью наше производство. А регулярные опросы и отзывы наших многочисленных гостей помогают нам контролировать качество и пробовать новинки.</li>
                </ol>
            </div>
            <div class="temp"></div>
{% endblock%}