
.big_picture {
    position: relative;
    top: 0;
    left: inherit;
    width: 1920px;
    height: 1080px;

    display: flex;

    background-image: url(galery2.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.white_rect {
    position: relative;
    height: 546px;
    width: 100%;

    margin-top: auto;
    margin-bottom: auto;

    display: flex;
    flex-direction: row;

    background-color: #FFFFFF;
}

.wr_pics {
    position: relative;
    width: 456px;
    height: 620px;
    margin: -35px auto auto auto;
    display: flex;
    flex-direction: column;

    background-color: rgba(0, 0, 0, 0.85);
}

.wr_pic_1 {
    position: relative;
    width: 400px;
    height: 252px;
    margin: 35px auto auto auto;
}

.wr_pic_2 {
    position: relative;
    width: 400px;
    height: 252px;
    margin: auto auto 39px auto;
}

.wr_text_container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.wr_h {
    position: relative;
    margin: 50px auto 50px auto;

    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #010101;
}

.wr_text {
    position: relative;
    display: flex;
    flex-direction: column;

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}