.menu_h_text {
    position: relative;
    padding-left: 100px;
    margin: 0;

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 47px;
    /* identical to box height */


    color: #000000;
}

.menu_choice {
    position: relative;
    left: calc(50% - 550px/2);
    width: 550px;
}

.mc_text {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;

    text-decoration-line: none;

    color: #010101;
}

.mc_text:visited {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;

    text-decoration-line: none;

    color: #010101;
}

.menu_positions {
    position: relative;
}

.cad_h {
    padding-left: 100px;

    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;

    color: #774E22;
}

.cad_table {
    padding-left: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.cad_cell {
    width: 306px;
    height: 404px;

    border: 1px solid #b0b3b4;
    padding: 5px;
    background-color: #FFFFFF;
}

.cad_sell_img {
    position: relative;
    left: calc(50% - 220px/2);

    width: 220px;
    height: 220px;
}

.cad_sell_img_text {
    position: relative;
    top: 30px;

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    /* identical to box height, or 28px */

    text-align: center;

    /* black */

    color: #333333;
}

.cad_cell_price_bg {
    position: relative;
    left: calc(25% - 42px/2);
    bottom: -60px;

    width: 113px;
    height: 42px;

    /* accent */

    background: #B59571;
}

.cad_sell_img_price {
    position: relative;
    top: 5px;

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
    /* identical to box height, or 31px */

    text-align: center;

    /* white */

    color: #FFFFFF;
}