.sale_h_text {
    position: relative;
    padding-left: 100px;
    margin: 0;

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 47px;

    color: #000000;
}

.sale_text_container {
    padding-left: 100px;
}

.sale_text_h {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 42px;
    display: flex;
    align-items: center;

    color: #000000;
}

.sale_text {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;

    color: #000000;
}